{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template – {{ serviceName }} –
GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-width-container">
  <div>
    <header class="govuk-grid-row manuals-header"></header>
  </div>

  <div class="govuk-phase-banner">
    <p id="test-banner" class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">Test</strong>
      <span class="govuk-phase-banner__text">
        This prototype is for user research with local authorities to test ideas and prompt
        discussions.
      </span>
    </p>
  </div>

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="manual-proto-december">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="manual-proto-december"
          >Digitising education, health and care plans</a
        >
      </li>
    </ol>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-!-margin-top-8 govuk-!-margin-bottom-8">
        <span class="govuk-caption-xl"> Collection </span>
        <h1 class="govuk-heading-l">Digital Education, Health and Care Plan (EHCP)</h1>
      </div>

      <p class="gem-c-lead-paragraph">
        Data standard and digital requirements for education, health and care (EHC) plans
      </p>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

  <ul class="govuk-list">
    <li>
      <p class="govuk-!-static-margin-0 govuk-body govuk-!-font-size-16">
        From:
        <a class="govuk-link govuk-!-font-weight-bold govuk-body govuk-!-font-size-16" href="#"
          >Department for Education</a
        >
      </p>
    </li>
    <li>
      <p class="govuk-!-static-margin-0 govuk-body govuk-!-font-size-16">Published 11 March 2014</p>
    </li>
    <li>
      <p class="govuk-!-static-margin-0 govuk-body govuk-!-font-size-16">
        Last updated 19 November 2021 -
        <a class="govuk-link govuk-body govuk-!-font-size-16" href="#">See all updates</a>
      </p>
    </li>
  </ul>

<button type="submit" class="govuk-button govuk-button--inverse" style="border: 1px solid #b1b4b6;box-shadow: none;font-size: 16px;display: flex;align-items: center;padding:10px" data-module="govuk-button">
      <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334"><path fill="#0b0c0c" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path></svg>
      <span style="margin: 0px 0px 0px 5px;">Get emails about this page</span>
    </button>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
         <div class="call-to-action" id="grey-call-to-action">
<p class="govuk-!-font-weight-bold"" id="content-call-to-action">Applies to England 
</div>

<h2 class="govuk-heading-m">
  Documents
</h2>


<div class="pdf-details">
<div class="pdf-iamge">

<img src="public/images/pdf.png" alt="document icon with pdf titile" width="170" height="200">
</div>
<div class="pdf-text">
<h3 class="govuk-heading-l" id="pdf-title">
<a href="#" class="govuk-link govuk-!-font-size-24">Digitising EHCP systems</a>
</h3>
<p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-0" id="document-details">
Ref: DFE-32020-2010 </p>
<p class="govuk-body govuk-!-font-size-16" id="document-details2">
PDF, 85.8 KB, 3 pages</p>
</div>
</div>
<div class="govuk-!-padding-bottom-4"></div>
<h2 class="govuk-heading-m">
  Details
</h2>

<p class="govuk-body">Guidance for local authorities</p>
<P class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit <a href="#" class="govuk-link"> important link.</a> Donec rhoncus quam ut purus lobortis eleifend. Aliquam tincidunt congue hendrerit. Interdum et malesuada fames ac ante ipsum primis in faucibus.</P>
<div class="govuk-!-padding-bottom-4"></div>

<p class="govuk-body govuk-!-font-size-16">Published 17 December 2010</p> 


  
<div class="govuk-!-padding-bottom-9"></div>

 <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" id="blue-border-break">
        <h2 class="govuk-heading-s">Related content</h2>
       <a href="#" class="govuk-link govuk-!-font-weight-bold">related links</a>
       <br></br>
       <a href="#" class="govuk-link govuk-!-font-weight-bold">related links</a>
       <br></br>
       <a href="#" class="govuk-link govuk-!-font-weight-bold">related links</a>
      </div>
    

 <div class="govuk-grid-column-one-third">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" id="blue-border-break">
        <h2 class="govuk-heading-s">Related content</h2>
       <a href="#" class="govuk-link">related links</a>
       <br></br>
       <a href="#" class="govuk-link">related links</a>
       <br></br>
       <a href="#" class="govuk-link">related links</a>
       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" >
       <h3 class="govuk-heading-s govuk-!-static-margin-bottom-2 govuk-!-font-size-16 govuk-!-font-weight-regular">
      Collection
</h3>
<a href="#" class="govuk-link  govuk-!-font-weight-bold">Digitising EHCP systems</a>
       <br></br>
       <a href="#" class="govuk-link govuk-!-font-weight-bold">Assessing needs and requirements</a>
      </div>
    </div>
  </main>
</div>

  {% endblock %}
</div>
