{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template – {{ serviceName }} –
GOV.UK Prototype Kit {% endblock %} {% block content %}

<div>
  <header class="govuk-grid-row manuals-header"></header>
</div>

<div class="govuk-phase-banner">
  <p id="test-banner" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">Test</strong>
    <span class="govuk-phase-banner__text">
      This prototype is for user research with local authorities to test ideas and prompt
      discussions.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manual-proto-v3">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manual-proto-v3"
        >Digitising education, health and care plans</a
      >
    </li>
  </ol>
</div>

<div class="govuk-panel header-panel govuk-!-margin-bottom-6">
<h1 class="govuk-heading-xl header-panel govuk-!-margin-bottom-1">Data standard and digital requirements for education, health and care (EHC) plans </h1>
<div  class="govuk-section-break govuk-section-break--l "></div>
<p class="govuk-body-s header-panel govuk-!-margin-bottom-0">From - <a href="#" class="govuk-link--inverse govuk-!-font-weight-bold">Department for Education</a></p>
<p class="govuk-body-s header-panel govuk-!-margin-bottom-0">Published 15 August 2024</p>
<p class="govuk-body-s header-panel govuk-!-margin-bottom-0">Updated: 24 August 2024 -  <a href="#" class="govuk-link--inverse govuk-!-font-weight-bold">See all updates</a></p>
<div  class="govuk-section-break govuk-section-break--l "></div>
<input class="govuk-input govuk-!-width-three-quarters" id="event-search" name="eventSearch" type="text">
<button type="submit" class="govuk-button  data-module="govuk-button" id="search-button" >
<svg class="gem-c-search__icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
  <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
  <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
</svg>
</button>
</div>

  <h2 class="govuk-heading-l">Create a roadmap</h2>
 
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
 
<p class="govuk-body">Create your roadmap with your team and key stakeholders using the <a class="govuk-link" href="https://www.gov.uk/service-manual/agile-delivery/developing-a-roadmap#roadmap-principles">roadmap principles</a> in the Department for Education (DfE) service manual.</p>

<p class="govuk-body">Creating a roadmap of your education, health and care plan (EHCP) digitisation project will:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>help you see how your service is developing over time</li>
  <li>show you where you are in the process</li>
</ul>

<p class="govuk-body">Your roadmap is like a timeline with key steps and milestones. It should be easy to understand and simple to change when your priorities change.</p>

<p class="govuk-body">Before you create your roadmap, you will need to understand your current EHCP processes and assess your ‘as-is’. Visualising your current processes and mapping them out can be used as starting points on your roadmap to develop and progress.</p>

<p class="govuk-body">Talk to other local authorities about their roadmaps and experiences.</p>

<h3 class="govuk-heading-m">Use your roadmap</h3>
<p class="govuk-body">Make the most of your roadmap by using it to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>	budget more effectively</li>
<li>	manage your EHCP digitalisation project as a whole</li>
<li>	understand what you are trying to achieve and the steps you need to take to reach your end goal </li>
<li>	be clear about what is in scope and what isn’t</li>
<li>	understand what skills and resources your team will need to achieve your end goal</li>
<li>	decide who you need in your project team </li>
<li>	visualise where you are in the process of digitisation</li>
<li>	understand and assess current processes so you know what will need to change</li>
<li>	understand when and how your team is likely to deliver value to users</li>
<li>	recognise and pre-empt any pain points that might happen (for example, technical challenges with digitisation, signing off data sharing agreements, lack of digital skills or physical resource)</li>
<li>	see who is responsible for what and where things overlap so you can avoid duplicating work</li>
</ul>

<h3 class="govuk-heading-m">Update and maintain your roadmap</h3>
<p class="govuk-body">Maintain and update your EHCP digitalisation roadmap so it stays relevant and aligns with your project’s goals and objectives. Follow these steps to make sure you continue to get the most out of your roadmap.</p>
 <ol class="govuk-list govuk-list--number">
  <li><h3 class="govuk-heading-s">Update and maintain your roadmap</h3><p class="govuk-body">Have regular reviews (for example, quarterly or biannually) to assess your roadmap. This will help you evaluate progress against planned milestones and timelines.
During these reviews, gather feedback from your key stakeholders. This help you understand if your roadmap is still aligned with current needs and priorities.
</p> </li>
  <li><h3 class="govuk-heading-s">Update your roadmap based on feedback</h3><p class="govuk-body">Include feedback from stakeholders into your roadmap. If needs or requirements have changed add these and adjust your roadmap accordingly.</p><p class="govuk-body">Reprioritise milestones based on feedback from stakeholders (For example, if a particular requirement has become more urgent, you might move it forward in your timeline).</p></li>
  <li><h3 class="govuk-heading-s">Track progress</h3><p class="govuk-body">Monitor the progress of ongoing tasks and milestones. Use project management tools to track the status of these tasks and milestones.</p><p class="govuk-body">Update your roadmap when tasks have been completed, delayed, or if there are any changes in the scope of your work.</p></li>
  <li><h3 class="govuk-heading-s">Communicate changes</h3><p class="govuk-body">Keep your stakeholders up to date with any changes to your roadmap. You can do this in regular meetings, updates via project management tools, or shared documents.</p><p class="govuk-body">Explain any changes to the roadmap (For example, available resource or change in scope).</p></li>
  <li><h3 class="govuk-heading-s">Be flexible</h3><p class="govuk-body">Your EHCP digitalisation roadmap is not set in stone. It should be flexible enough to accommodate unexpected changes like new technologies or changes to available resource.</p><p class="govuk-body">Update your timelines in-line with any changes. If some milestones take longer than expected or if priorities shift, revise the timeline to reflect these changes.</p></li>
  <li><h3 class="govuk-heading-s">Use data to inform updates</h3><p class="govuk-body">Measure success using key performance indicators (KPIs) that align with digitalisation goals (For example, an increase in EHC needs assessments) can inform whether the current roadmap is effective.</p><p class="govuk-body">Use data to determine if your roadmap is going to achieve your desired outcomes or end goal. If not, update the plan to better meet your local authorities needs and objectives.</p></li>
  <li><h3 class="govuk-heading-s">Keep a record of all your changes</h3><p class="govuk-body">Keep a record of all changes made to your roadmap, including the reasons behind them. This can give valuable insight for future planning and for understanding the development of the digitalisation of your EHCP processes.</p></li>
  <li><h3 class="govuk-heading-s">Continuous alignment</h3><p class="govuk-body">Your roadmap should align with your local authority’s overall business strategy and any changes to that strategy. As your local authority’s goals evolve, update your roadmap to support these changes.</p><p class="govuk-body">Use these steps to keep your roadmap up to date. By doing this you are more likely to develop EHCP digital processes that meet your users’ need and your local authority’s overall objectives.  </p></li>
</ol>




<hr class="govuk-section-break govuk-section-break--m">
<button type="submit" class="govuk-button govuk-button--inverse " style="border: 1px solid #b1b4b6;box-shadow: none;font-size: 16px;display: flex;align-items: center;padding:10px" data-module="govuk-button"><img class="printer-image" src="public/images/icon-print.png" alt="printer icon" >Print this page</button>

</div>
</div>

  {% endblock %}
</div>
