{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template – {{ serviceName }} –
GOV.UK Prototype Kit {% endblock %} {% block content %}

<style>
  .govuk-main-wrapper {
    padding-top: 0px;
  }

  input[type='text']:focus {
    border: 5px solid #ffdd00;
    padding-inline: 0px;
    padding-block: 0px;
  }
</style>

<div>
  <header class="govuk-grid-row manuals-header"></header>
</div>

<div class="govuk-width-container">
  <!-- <main class="govuk-main-wrapper"> -->

  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag"> Draft </strong>
      <span class="govuk-phase-banner__text">
        This prototype is for user research with local authorities to test ideas and prompt
        discussions.
      </span>
    </p>
  </div>

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="manual-proto-november"
          >Digitising education, health and care plans</a
        >
      </li>
      <!-- <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="data-standards">Data standards</a>
      </li> -->
    </ol>
  </div>

  <div class="govuk-width-container">
    <div style="background-color: #1d70b8; padding: 30px; border: 0px; margin-bottom: 20px">
      <div class="govuk-grid-column-two-thirds">
        <h1 style="color: white; margin-bottom: 50px" class="govuk-heading-l">
          Digitising EHCP Systems
        </h1>
        <p style="color: white; margin-bottom: 5px; margin-top: 20px" class="govuk-body-s">
          From:
          <a
            style="color: white; font-weight: bold"
            href="https://www.gov.uk/government/organisations/department-for-education"
            class="govuk-link"
            >Department for Education</a
          >.
        </p>
        <p style="color: white; margin-bottom: 5px" class="govuk-body-s">
          Published: 29 November 2023
        </p>
        <p style="color: white; margin-bottom: 30px" class="govuk-body-s">
          Updated: 30 November 2023
        </p>
      </div>

      <div>
        <input
          class="govuk-body-m"
          style="
            width: 500px;
            height: 40px;
            margin-left: 15px;
            margin-top: 30px;
            margin-bottom: 30px;
          "
          type="text"
          placeholder="    Search this manual"
        />
        <svg
          style="margin-bottom: -15px; margin-left: -5px; background-color: black"
          class="gem-c-search__icon"
          width="44"
          height="44"
          viewBox="0 0 27 27"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          focusable="false"
        >
          <circle
            style="color: white"
            cx="12"
            cy="11"
            r="8"
            stroke="currentColor"
            stroke-width="3"
          ></circle>
          <line
            style="color: white"
            x1="17"
            y1="17"
            x2="26"
            y2="25"
            stroke="currentColor"
            stroke-width="3"
          ></line>
        </svg>
      </div>
    </div>

    <div style="border-bottom: 1px solid #b1b4b6; padding-bottom: 5px" class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="manual-proto-november">Contents</a>
        </li>
      </ol>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 style="margin-top: 20px" class="govuk-heading-m">Data standards</h2>
        <p class="govuk-body">
          This guidance is to help local authorities capture the data required for processing EHCPs
          and submitting the annual report data for the special educational needs survey (commonly
          referred to as SEN2).
        </p>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Data to track timeliness
                </span>
              </h2>
            </div>
            <div
              id="accordion-default-content-1"
              class="govuk-accordion__section-content"
              aria-labelledby="accordion-default-heading-1"
            >
              <p class="govuk-body">
                You must track the number of EHCPs that move through the process within the
                statutory timeframes.
              </p>
            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Data to track timeliness
                </span>
              </h2>
            </div>
            <div
              id="accordion-default-content-1"
              class="govuk-accordion__section-content"
              aria-labelledby="accordion-default-heading-1"
            >
              <p class="govuk-body">
                You must track the number of EHCPs that move through the process within the
                statutory timeframes.
              </p>
            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Data to track timeliness
                </span>
              </h2>
            </div>
            <div
              id="accordion-default-content-1"
              class="govuk-accordion__section-content"
              aria-labelledby="accordion-default-heading-1"
            >
              <p class="govuk-body">
                You must track the number of EHCPs that move through the process within the
                statutory timeframes.
              </p>
            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Data to track timeliness
                </span>
              </h2>
            </div>
            <div
              id="accordion-default-content-1"
              class="govuk-accordion__section-content"
              aria-labelledby="accordion-default-heading-1"
            >
              <p class="govuk-body">
                You must track the number of EHCPs that move through the process within the
                statutory timeframes.
              </p>
            </div>
          </div>
        </div>
        <!-- end of all accordions -->

        <!-- <p class="govuk-body">
        Please give us feedback on this guidance by <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-T97oglKFvVKgdQrXP2QCAZUN1Y5WlE4NFA4NlhMM0dYQVFLMzJCWUtYMi4u&wdLOR=c52AC8206-63EA-4114-A9F8-89A0F5554F04" class="govuk-link">completing this survey</a>.
      </p> -->
      </div>

      <!-- sidebar -->
      <!-- <div class="govuk-grid-column-one-third">
    <div style="border-bottom: 2px solid #1d70b8; padding-bottom: 5px;" class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
        </li>
      </ol>

      <h3 class="govuk-heading-s">Related content</h3>
      <p class="govuk-body"> <a href="#" class="govuk-link">Support service</a></p>
    </div> -->
    </div>
    <!-- </main> -->
  </div>

  {% endblock %}
</div>
