{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template – {{ serviceName }} –
GOV.UK Prototype Kit {% endblock %} {% block content %}

<div>
  <header class="govuk-grid-row manuals-header"></header>
</div>

<div class="govuk-width-container">
  <!-- <main class="govuk-main-wrapper"> -->

  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag"> Test </strong>
      <span style="font-size: 20px" class="govuk-phase-banner__text">
        This prototype is for user research with local authorities to test ideas and prompt
        discussions.
      </span>
    </p>
  </div>

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="manual-proto-december">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="manual-proto-december"
          >Digitising education, health and care plans</a
        >
      </li>
      <!-- <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="data-standards">Data standards</a>
      </li> -->
    </ol>
  </div>

  <div class="govuk-width-container">
    <div style="background-color: #1d70b8; padding: 30px; border: 0px; margin-bottom: 20px">
      <div class="govuk-grid-column-two-thirds">
        <h1 style="color: white; margin-bottom: 50px" class="govuk-heading-l">
          Digitising education, health and care plans
        </h1>
        <p style="color: white; margin-bottom: 5px; margin-top: 20px" class="govuk-body-s">
          From:
          <a
            style="color: white; font-weight: bold"
            href="https://www.gov.uk/government/organisations/department-for-education"
            class="govuk-link"
            >Department for Education</a
          >.
        </p>
        <!-- <p style="color: white; margin-bottom: 5px" class="govuk-body-s">
          Published: 29 November 2023
        </p>
        <p style="color: white; margin-bottom: 30px" class="govuk-body-s">
          Updated: 30 November 2023
        </p> -->
      </div>

      <div>
        <input
          class="govuk-body-m"
          style="
            width: 500px;
            height: 40px;
            margin-left: 15px;
            margin-top: 30px;
            margin-bottom: 30px;
          "
          type="text"
          placeholder="    Search this manual" />
        <svg
          style="margin-bottom: -15px; margin-left: -5px; background-color: black"
          class="gem-c-search__icon"
          width="44"
          height="44"
          viewBox="0 0 27 27"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          focusable="false">
          <circle
            style="color: white"
            cx="12"
            cy="11"
            r="8"
            stroke="currentColor"
            stroke-width="3"></circle>
          <line
            style="color: white"
            x1="17"
            y1="17"
            x2="26"
            y2="25"
            stroke="currentColor"
            stroke-width="3"></line>
        </svg>
      </div>
    </div>

    <div style="border-bottom: 1px solid #b1b4b6; padding-bottom: 5px" class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="manual-proto-december">Contents</a>
        </li>
      </ol>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 style="margin-top: 20px" class="govuk-heading-m">Digitising EHCP systems</h2>
        <p class="govuk-body">
          This guidance is for local authorities to implement digital EHCP systems.
        </p>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Assessing needs and requirements
                </span>
              </h2>
            </div>
            <div
              id="accordion-default-content-1"
              class="govuk-accordion__section-content"
              aria-labelledby="accordion-default-heading-1">
              <p class="govuk-body">
                Morbi euismod egestas eros vel tristique. Praesent ultricies quis nulla vel tempor.
                Cras nibh nunc, pulvinar sit amet dignissim eu, suscipit nec lorem. Nunc sed elit
                hendrerit, blandit ante ac, rhoncus turpis. Mauris id nulla fringilla, varius metus
                vel, fringilla felis. Vivamus at nisi nec eros mollis sagittis. Nullam semper diam
                tortor, at bibendum lorem egestas id. Phasellus finibus non purus id lobortis.
                Quisque viverra venenatis nisi sed hendrerit. Nunc fermentum convallis pharetra.
                Fusce vel mauris sit amet leo maximus fringilla sed non erat. Nunc nisl nisl,
                lobortis vel ligula sed, egestas congue lacus. Ut sit amet condimentum sapien, non
                rutrum justo. Quisque scelerisque, mauris eget euismod feugiat, nisl dui lobortis
                quam, sed maximus nulla ipsum eu dui. Praesent convallis mauris nisl, nec tempus
                lacus congue eu.
              </p>
            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Measuring performance and service improvement
                </span>
              </h2>
            </div>
            <div
              id="accordion-default-content-1"
              class="govuk-accordion__section-content"
              aria-labelledby="accordion-default-heading-1">
              <p class="govuk-body">
                Morbi euismod egestas eros vel tristique. Praesent ultricies quis nulla vel tempor.
                Cras nibh nunc, pulvinar sit amet dignissim eu, suscipit nec lorem. Nunc sed elit
                hendrerit, blandit ante ac, rhoncus turpis. Mauris id nulla fringilla, varius metus
                vel, fringilla felis. Vivamus at nisi nec eros mollis sagittis. Nullam semper diam
                tortor, at bibendum lorem egestas id. Phasellus finibus non purus id lobortis.
                Quisque viverra venenatis nisi sed hendrerit. Nunc fermentum convallis pharetra.
                Fusce vel mauris sit amet leo maximus fringilla sed non erat. Nunc nisl nisl,
                lobortis vel ligula sed, egestas congue lacus. Ut sit amet condimentum sapien, non
                rutrum justo. Quisque scelerisque, mauris eget euismod feugiat, nisl dui lobortis
                quam, sed maximus nulla ipsum eu dui. Praesent convallis mauris nisl, nec tempus
                lacus congue eu.
              </p>
            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Planning for system changes
                </span>
              </h2>
            </div>
            <div
              id="accordion-default-content-1"
              class="govuk-accordion__section-content"
              aria-labelledby="accordion-default-heading-1">
              <p class="govuk-body">
                Morbi euismod egestas eros vel tristique. Praesent ultricies quis nulla vel tempor.
                Cras nibh nunc, pulvinar sit amet dignissim eu, suscipit nec lorem. Nunc sed elit
                hendrerit, blandit ante ac, rhoncus turpis. Mauris id nulla fringilla, varius metus
                vel, fringilla felis. Vivamus at nisi nec eros mollis sagittis. Nullam semper diam
                tortor, at bibendum lorem egestas id. Phasellus finibus non purus id lobortis.
                Quisque viverra venenatis nisi sed hendrerit. Nunc fermentum convallis pharetra.
                Fusce vel mauris sit amet leo maximus fringilla sed non erat. Nunc nisl nisl,
                lobortis vel ligula sed, egestas congue lacus. Ut sit amet condimentum sapien, non
                rutrum justo. Quisque scelerisque, mauris eget euismod feugiat, nisl dui lobortis
                quam, sed maximus nulla ipsum eu dui. Praesent convallis mauris nisl, nec tempus
                lacus congue eu.
              </p>
            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Understanding system options
                </span>
              </h2>
            </div>
            <div
              id="accordion-default-content-1"
              class="govuk-accordion__section-content"
              aria-labelledby="accordion-default-heading-1">
              <p class="govuk-body">
                Morbi euismod egestas eros vel tristique. Praesent ultricies quis nulla vel tempor.
                Cras nibh nunc, pulvinar sit amet dignissim eu, suscipit nec lorem. Nunc sed elit
                hendrerit, blandit ante ac, rhoncus turpis. Mauris id nulla fringilla, varius metus
                vel, fringilla felis. Vivamus at nisi nec eros mollis sagittis. Nullam semper diam
                tortor, at bibendum lorem egestas id. Phasellus finibus non purus id lobortis.
                Quisque viverra venenatis nisi sed hendrerit. Nunc fermentum convallis pharetra.
                Fusce vel mauris sit amet leo maximus fringilla sed non erat. Nunc nisl nisl,
                lobortis vel ligula sed, egestas congue lacus. Ut sit amet condimentum sapien, non
                rutrum justo. Quisque scelerisque, mauris eget euismod feugiat, nisl dui lobortis
                quam, sed maximus nulla ipsum eu dui. Praesent convallis mauris nisl, nec tempus
                lacus congue eu.
              </p>
              <p class="@govuk-body">
                Nullam at felis odio. Aenean varius est vitae pharetra sagittis. Proin a nunc ut mi
                efficitur pretium eu nec dolor. Morbi posuere auctor massa nec luctus. Curabitur
                egestas hendrerit tempus. Duis vel mollis ex. Etiam vel vehicula lectus, eget
                ultrices tellus. Nulla convallis ligula ex, iaculis tempus justo rutrum tincidunt.
                Donec cursus hendrerit dignissim. Donec ut libero eu massa ultricies pulvinar.
                Suspendisse eget ipsum libero. Sed auctor, risus non finibus pellentesque, tortor
                sem eleifend sapien, at ullamcorper mauris lacus sed ex.
              </p>
            </div>
          </div>
        </div>
        <!-- end of all accordions -->
      </div>
    </div>
  </div>

  {% endblock %}
</div>
