{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template – {{ serviceName }} –
GOV.UK Prototype Kit {% endblock %} {% block content %}

<div>
  <header class="govuk-grid-row manuals-header"></header>
</div>

<div class="govuk-phase-banner">
  <p id="test-banner" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">Test</strong>
    <span class="govuk-phase-banner__text">
      This prototype is for user research with local authorities to test ideas and prompt
      discussions.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manual-proto-v3">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manual-proto-v3"
        >Digitising education, health and care plans</a
      >
    </li>
  </ol>
</div>

<div class="govuk-panel header-panel govuk-!-margin-bottom-6">
<h1 class="govuk-heading-xl header-panel govuk-!-margin-bottom-1">Data standard and digital requirements for education, health and care (EHC) plans </h1>
<div  class="govuk-section-break govuk-section-break--l "></div>
<p class="govuk-body-s header-panel govuk-!-margin-bottom-0">From - <a href="#" class="govuk-link--inverse govuk-!-font-weight-bold">Department for Education</a></p>
<p class="govuk-body-s header-panel govuk-!-margin-bottom-0">Published 15 August 2024</p>
<p class="govuk-body-s header-panel govuk-!-margin-bottom-0">Updated: 24 August 2024 -  <a href="#" class="govuk-link--inverse govuk-!-font-weight-bold">See all updates</a></p>
<div  class="govuk-section-break govuk-section-break--l "></div>
<input class="govuk-input govuk-!-width-three-quarters" id="event-search" name="eventSearch" type="text">
<button type="submit" class="govuk-button  data-module="govuk-button" id="search-button" >
<svg class="gem-c-search__icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
  <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
  <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
</svg>
</button>
</div>

  <h2 class="govuk-heading-l">Form a team</h2>
 
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

<p class="govuk-body">Work in partnership with your internal and external stakeholders to digitise your EHCP processes. You will need a designated project lead, preferably an internal SEND senior lead, with IT and information governance representatives advising and influencing where needed. </p>
<p class="govuk-body">You should work with your local authority:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>	IT departments and procurement team</li>
<li>	SEND leads and case workers </li>
<li>	Information governance representatives</li>
<li>	educational psychologists</li>
<li>	social workers</li>
<li>	integrated care board (ICB)</li>
</ul>
<p class="govuk-body">Form your team and decide roles and responsibilities using a RACI matrix (responsible, accountable, consulted and informed).</p>
<p class="govuk-body">Include representatives that have the skills and working knowledge of the internal processes required to manage EHC record workflow and tasks. </p>
<p class="govuk-body">Your integrated care board will be actively involved in all SEN improvement projects not just EHCP processes.</p>

<h3 class="govuk-heading-m">Tasks you can do together</h3>
<p class="govuk-body">Working together on specific tasks will help you create a stronger business case for digitising your EHCP processes and confirm your need for a digital system. Work together on:</p>
<ul class="govuk-list govuk-list--bullet">
<li>	identifying a need</li>
<li>	writing a business case</li>
<li>	getting sign-off for the business case</li>
<li>	reviewing supplier offers and award (supported by the LA procurement team)</li>
</ul>

<h3 class="govuk-heading-m">User research</h3>
<p class="govuk-body">Do user research to understand your users’ needs. You could gather feedback and insight on EHCP processes by talking to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>	SENDIASS</li>
<li>	parent and carer forums</li>
<li>	parents and carers</li>
<li>	children and young people</li>
<li>	local SENCOs or headteachers</li>
<li>	local early years providers</li>
<li>	local FE training colleges</li>
<li>	local healthcare professionals (GPs, paediatricians, health visitors, occupational health)</li>
</ul>

<h3 class="govuk-heading-m">Benefits of working in partnership</h3>
<p class="govuk-body">Working in partnership supports:</p>
<ul class="govuk-list govuk-list--bullet">
   <li>	a culture of openness</li>
 <li>	shared project goals</li>
 <li>	good leadership</li>
 <li>	positive working relationships</li>
</ul>

<hr class="govuk-section-break govuk-section-break--m">
<button type="submit" class="govuk-button govuk-button--inverse " style="border: 1px solid #b1b4b6;box-shadow: none;font-size: 16px;display: flex;align-items: center;padding:10px" data-module="govuk-button"><img class="printer-image" src="public/images/icon-print.png" alt="printer icon" >Print this page</button>

</div>
</div>

  {% endblock %}
</div>
