{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style>
  .govuk-main-wrapper {
    padding-top: 0px;
  }
  </style>

<div>
<header
  class="govuk-grid-row manuals-header"
</header>
</div>

<div class="govuk-width-container">
  <!-- <main class="govuk-main-wrapper"> -->

  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Alpha
      </strong>
      <span class="govuk-phase-banner__text">
        Please give us feedback on this guidance by <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-T97oglKFvVKgdQrXP2QCAZUN1Y5WlE4NFA4NlhMM0dYQVFLMzJCWUtYMi4u&wdLOR=c52AC8206-63EA-4114-A9F8-89A0F5554F04" class="govuk-link">completing this survey</a>.
      </span>
    </p>
  </div>

    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Standards for digital EHCP systems</a>
        </li>
      </ol>
    </div>

    <div class="govuk-width-container">

<div style="background-color: #1d70b8; padding: 30px; border: 0px; #1d70b8;">

<div>
  <h1 style="color:white;" class="govuk-heading-xl">Guidance: Improving digital EHCP systems</h1>
  <p style="color:white;" class="govuk-body-s">From: <b style="color:white;" href="https://www.gov.uk/government/organisations/department-for-education" class="govuk-link">Department for Education</b>.</p>
  <p style="color:white;" class="govuk-body-s">Published: 29 November 2023</p>
  <p  style="color:white;"class="govuk-body-s">Updated: 1 December 2023</p>
      </div>


      </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">Introduction</h2>
        <p class="govuk-body">This guidance is to help local authorities improve their use of digital systems to
          improve their management of education, health and care plan (EHCP) processes.</p>
        <p class="govuk-body">Use the guidance to help you consider how systems: </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>support the recording, tracking and analysis of education, health and care plans</li>
            <li>are procured, set up and managed</li>
            <li>interact with other systems to share information and link services together</li>
            <li>can be monitored and measured to identify opportunities for improvement of the system, professional practices or the service</li>
          </ul>
          <p class="govuk-body">Systems need to meet a number of complex needs that may conflict, such as: </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>the needs of the people who use the system (based on research with them)</li>
              <li>meeting data capture and reporting needs</li>
              <li>delivering efficiency, quality and value for money</li>
              <li>monitoring the service and performance reporting</li>
              <li>meeting legal duties to report and share information</li>
            </ul>

            <p class="govuk-body">They also need to be delivered within budget and resource planning limits
              and be flexible in response to changing needs and requirements.</p>
            <p class="govuk-body">Whilst digital technology and the use of systems can create efficiencies and better oversight,
              they can only work well when developed and embedded into your ways of working.</p>
            <p class="govuk-body">Consider taking external specialist advice to help you at the different stages of procurement and development
              to make sure you have the knowledge and support you need.
              You should also manage your system over time, and do regular health checks to make sure it continues to work in an optimal way.</p>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Delivering your vision
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class="govuk-body">Systems, whether purchased or developed in-house, should be designed, configured, implemented and managed based on the
        needs of your individual EHCP processes, your partners and your users. </p>
        <p class="govuk-body">Systems need to meet a number of complex needs that may conflict, such as: </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the needs of the people who use the system (based on research with them)</li>
            <li>meeting data capture and reporting needs</li>
            <li>delivering efficiency, quality and value for money</li>
            <li>monitoring the service and performance reporting</li>
            <li>meeting legal duties to report and share information</li>
          </ul>
      <p class="govuk-body">To make the best use of digital systems and technology, you should:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>identify the service’s vision and goals</li>
          <li>assess how existing systems use data and how you want to use it in future</li>
          <li>understand how users interact with existing systems</li>
          <li>identify barriers and ways digital services can better meet people’s needs</li>
          <li>identify problems and needs</li>
          <li>map desired outcomes to your vision and goals</li>
          <li>make sure people are engaged and understand the vision and goals</li>
        </ul>
        <p class="govuk-body">Guidance is available on <a href="https://www.digitalbuyingguide.org/en/guide/"
          class="govuk-link">Commissioning digital products or services</a>
          and you can sign up to the <a href="https://www.localdigital.gov.uk/declaration/"
            class="govuk-link">Local Digital Declaration</a>.
        </p>
        <p class="govuk-body">Before seeking solution, you need to have an understanding of:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>how your EHCP processes and systems have developed over time</li>
          <li>your existing infrastructure</li>
          <li>what you want your service to achieve</li>
        </ul>
        <p class="govuk-body">It is important that IT teams and those who understand the local authority's ambitions for the EHCP service work together
          to plan digital systems that enable the service vision. Having conversations about visions and goals with potential suppliers ahead of any
          procurement exercise will help you to understand what options may be on offer.</p>
        <p class="govuk-body">Read the guidance on <a href="https://www.gov.uk/service-manual/agile-delivery/developing-a-roadmap"
          class="govuk-link">developing a roadmap</a>.
        </p>
    </div>

  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Assessing needs and requirements
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <p class="govuk-body">This is the content for Assessing needs and requirements.</p>
    </div>
  </div>

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Understanding user needs
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
      <p class="govuk-body">A user is anyone who uses the system directly or uses information from the system.</p>
      <p class="govuk-body">You should consider how your system will help frontline users meet the needs of children, young people and families.
        Take account of users’ individual needs such as different locations, digital skills and accessibility requirements.</p>
        <p class="govuk-body">Think about who your users are and speak to them to understand what they need from the system. Your users might include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>social workers</li>
      <li>service delivery managers</li>
      <li>data analysts</li>
      <li>children and young people</li>
      <li>families and carers</li>
      <li>health, education and business partners</li>
      <li>multiauthority or multi-agency partnerships</li>
    </ul>
    <p class="govuk-body">Consider how systems will complement:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the experience of professionals, children, young people and families</li>
      <li>the skills and abilities of the different users of the system</li>
      <li>communication and information sharing with service users</li>
      <li>how the outputs will be used, for example, reporting to the Department for Education (DfE) or preparing for an Ofsted inspection</li>
      <li>interaction with other systems, such as social care, health and education systems</li>
      <li>the ability to make improvements to EHCP services by using data from the system to spot trends, gaps and make predictions</li>
    </ul>
    </div>
  </div>

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Do user research
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
      <p class="govuk-body">EHCP systems should be developed in response to the changing needs of users and service developments.
        You should regularly work with developers and suppliers to assess the design, configuration and performance of systems against user needs,
        and ensure the assessments inform future versions.</p>
      <p class="govuk-body">You should also aim to understand what might stop users from making the most of a system, such as training or time
          to change their ways of working, ahead of launching new services or features.</p>
      <p class="govuk-body">You can learn about the problems users face by:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>using data analytics and other available data to identify where there may be a problem</li>
        <li>using methods such as surveys, group workshops and feedback loops to support your understanding</li>
        <li>using test environments to assess hypotheses and functionality in ‘live’ practice</li>
        <li>engaging with suppliers, for example, through their reference groups or workshops</li>
      </ul>
      <p class="govuk-body">Consider how you'll gather insights and feedback from users to make sure any new needs are identified and met.</p>
      <p class="govuk-body">Read the <a href="https://www.gov.uk/service-manual" class="govuk-link">service manual</a>
        which contains guidance on <a href="https://www.gov.uk/service-manual/user-research/start-by-learning-user-needs"
        class="govuk-link">learning about users and their needs</a> and
        <a href="https://www.gov.uk/service-manual/user-research/user-research-in-discovery"
        class="govuk-link">conducting user research in the discovery phase</a>.
      </p>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-5">
          Assessing user needs
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5">
      <p class="govuk-body">When reviewing the need for a new system, upgrade or development you should consider the needs of different users within the service,
        local authority and wider community. You should make sure you have clearly identified all those who use the system or its outputs.</p>
      <p class="govuk-body">Suppliers and developers should demonstrate how:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the design, local configuration and implementation will be tested and iterated to ensure it continues to meet user needs</li>
        <li>input from professionals, families, young people and other service users has been used to design and configure the system</li>
        <li>user needs have been balanced with the business and technical needs of the system</li>
        <li>the system provides easy access to information</li>
        <li>it supports users to accurately capture quality data</li>
        <li>the system or development will support the service’s vision and goals and be focused on specific outcomes</li>
        <li>accessibility, permissions and restrictions for people using the system, both within the local authority as well as external partners</li>
      </ul>
      <p class="govuk-body">You should work with suppliers to test and iterate systems, updates and developments, ahead of implementation.
        This will help to ensure that the design and configuration can be improved over time based on user feedback.
        Make sure there's time in your project plan to do this.</p>
        <p class="govuk-body">It is useful to frame user needs as problems to be solved and the desired outcomes. Then do a separate exercise
          to map how potential options could resolve the problems to achieve those outcomes. Engage suppliers and developers to work together
          to assess the problems and any solution based desired outcomes.</p>
    </div>
  </div>

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-6">
          Accessibility
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-6" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-6">
      <p class="govuk-body">Systems and tools must be accessible to meet the needs of a diverse range of users. They should consider the users’
        location and different needs, such as physical, cultural or education.</p>
        <p class="govuk-body">They must:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>be easy to use and understand</li>
          <li>meet accessibility standards for both online and offline elements</li>
          <li>not exclude any users they are intended to serve</li>
        </ul>
        <p class="govuk-body">You should complete a digital inequalities review of users to develop a current
          baseline and use this analysis to inform key areas to address.</p>
        <p class="govuk-body">Local authorities have a legal duty to meet <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link">web content accessibility standards</a>.
            There is also <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps" class="govuk-link">guidance available
            on accessibility requirements for public sector websites and apps</a>.</p>
        <p class="govuk-body">Although this applies to public sector bodies’ websites and mobile applications, the purpose of these accessibility requirements is to support inclusion.
            Every effort should be made to meet these standards for all local authority websites and applications. </p>
    </div>
  </div>

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-7">
          Public Sector Equality Duty (PSED)
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-7" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-7">
      <p class="govuk-body">Local authorities must have 'due regard' to the <a href="http://www.legislation.gov.uk/ukpga/2010/15/section/149" class="govuk-link">PSED</a>.</p>
    </div>
  </div>

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-8">
          Meeting accessibility needs
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-8" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-8">
      <p class="govuk-body">Suppliers and local authorities should:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>do research with potential users of the service with a range of accessibility needs, including visual, physical and other needs</li>
        <li>deliver appropriate training and support where necessary either in person or online</li>
        <li>gather evidence of user feedback on the accessibility and inclusivity of systems</li>
        <li>release updates to continually improve the accessibility of the system</li>
        <li>make sure there is a mechanism to raise issues with the system, particularly accessibility issues</li>
      </ul>
      <p class="govuk-body">Local authorities should understand the accessibility needs of their staff and have a plan in place to develop
        solutions for these users. For examples, this could be through a panel or a group of representative users.</p>
      <p class="govuk-body">Read the <a href="https://www.gov.uk/service-manual" class="govuk-link">service manual</a>,
        <a href="https://www.gov.uk/service-manual/technology/testing-with-assistive-technologies" class="govuk-link">testing with assistive technologies</a> which contains guidance on
         and <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction" class="govuk-link">making your service accessible: an introduction</a>
        </p>
      <p class="govuk-body">There is also guidance on <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps" class="govuk-link">understanding accessibility requirements for public sector bodies</a>.
        </p>
      <p class="govuk-body">You should make sure suppliers and developers demonstrate how the system:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>works across different devices and is browser-based</li>
        <li>supports offline working</li>
        <li>meets accessibility standards</li>
        <li>works with the technology staff use to assist them, such as screen readers or voice to text</li>
      </ul>
      <p class="govuk-body">Local authorities must comply with the <a href="https://www.legislation.gov.uk/ukpga/2010/15/contents" class="govuk-link">Equality Act</a> and may want to seek legal advice on how to meet this. </p>
    </div>
  </div>

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-9">
          Understanding system options
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-9" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-9">
      <p class="govuk-body">Explore what options are available and identify what is suitable for your circumstances and will allow for future growth and development.
        This could be done as part of a pre-market engagement exercise or something you do ahead of developing an existing system.</p>
      <p class="govuk-body">You should consider:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>whether the system will give you a suitable foundation that you can build upon</li>
        <li>if people can use the system in a way that meets their needs, especially if extra support is needed</li>
        <li>how you will migrate existing data to the new system</li>
        <li>the suppliers’ appetite for continued system developments</li>
        <li>how you will manage required changes (this reads ambiguously, not sure what it’s trying to say)</li>
        <li>where data will be stored and how it will can be accessed</li>
        <li>what options exist for integration with existing systems</li>
        <li>how you can minimise the burden of data entry and any duplication of effort</li>
      </ul>
      <p class="govuk-body">You should think about how the wider context, such as behavioural or cultural factors, will support or
        potentially detract from delivering a system that meets user and service needs.</p>
      <p class="govuk-body">For example:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>cultural barriers to information sharing</li>
        <li>lack of workforce confidence in using new technology</li>
        <li>poor data capture practices</li>
        <li>lack of existing data structures</li>
      </ul>
      <p class="govuk-body">In exploring the options you should consider and communicate what problems you are looking to solve,
        allow potential suppliers and developers to offer solutions.</p>
      <p class="govuk-body">You should speak with other local authorities to get a comprehensive view of what is on offer and how it works in practice.</p>
      <p class="govuk-body">Read the guidance on <a href="https://www.gov.uk/guidance/talking-to-suppliers-before-you-buy-digital-marketplace-services" class="govuk-link">talking to suppliers before you buy</a>
        and <a href="https://www.crowncommercial.gov.uk/news/conducting-pre-tender-market-engagement-virtually" class="govuk-link">conducting pre-tender market engagement</a>.</p>
    </div>
  </div>

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-10">
          Meeting future needs
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-10" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-10">
      <p class="govuk-body">Education, health and care plans are subject to changes in:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>policy</li>
        <li>legislation</li>
        <li>practice</li>
        <li>data reporting requirements</li>
      </ul>
      <p class="govuk-body">When procuring a system you should talk to potential suppliers about how changes will be managed and see examples of how they have addressed changes in the past.
        You may wish to speak to other local authorities to see how changes are managed to assess good and bad practice.</p>
      <p class="govuk-body">Make sure any system you invest in is flexible and scalable enough to meet your requirements. For example, an increase in the:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>amount of work and processes</li>
        <li>number of users</li>
        <li>information needing to be stored</li>
      </ul>
      <p class="govuk-body">Ensure your contracts and service level agreements cover expectations. This may be something you should research ahead of procurement or development.</p>
    </div>
  </div>

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-11">
          Information sharing
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-11" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-11">
      <p class="govuk-body">Systems should enable the sharing of information for safeguarding purposes and allow joined up education, health and care plans for children and young people.
        This should comply with information and data sharing requirements.</p>
      <p class="govuk-body">You should have a strategy and documented approach to information sharing. There should be a clear understanding of:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>what information needs to be shared and for what purpose</li>
          <li>whether the sharing is lawful</li>
          <li>who needs access to it and the associated risks</li>
        </ul>
      <p class="govuk-body">Engage with suppliers and developers to find solutions based on information sharing needs. This will help you to find appropriate solutions based on existing systems and capabilities.</p>
      <p class="govuk-body">Effective sharing of information between practitioners, local organisations and agencies is essential for early identification of need, assessment and service to provide the support children
        and young people need. Missed opportunities to record and share information in a timely manner can have consequences for the outcomes of children and young people.</p>
      <p class="govuk-body">The system and your wider ways of working supports the EHC plan:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>to be co-produced with all parties, especially children, young people, parents and carers</li>
        <li>accessible to those who need to access and the format – on a mobile, online and in print</li>
        <li>drafted in a way that allows for visibility and understanding of the advice</li>
      </ul>
      <p class="govuk-body">Systems should support practitioners to be proactive in sharing information as early as possible to help identify and assess needs to respond with advice.</p>
      <p class="govuk-body">When thinking about developing or purchasing new systems, consider:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>how the product will link with other systems in the local authority, such as health</li>
        <li>how it will link with third party systems and applications, such as education systems</li>
        <li>how it meets open application programming interfaces (API) standards</li>
        <li>examples of collaboration or integration from the work of other local authorities and suppliers</li>
        <li>the appropriate and secure transfer of information between systems</li>
        <li>how it will support local authorities to meet <a href="https://ico.org.uk/for-organisations/dp-at-the-end-of-the-transition-period/data-protection-and-the-eu-in-detail/the-uk-gdpr/" class="govuk-link">data protection regulations</a>.</li>
      </ul>
      <p class="govuk-body">You should provide examples of information sharing cases with your potential suppliers and
        developers to enable them to identify the options available.</p>
        <p class="govuk-body">You should also follow the guidance set out in <a href="https://www.gov.uk/government/publications/safeguarding-practitioners-information-sharing-advice" class="govuk-link">Information sharing advice for safeguarding practitioners</a>
          and the <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/ico-codes-of-practice/data-sharing-code/" class="govuk-link">Data Sharing: A Code of Practice</a>.
        </p>

    </div>
  </div>

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-12">
          Public Sector Equality Duty (PSED)
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-12" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-12">
      <p class="govuk-body">Local authorities must have 'due regard' to the <a href="http://www.legislation.gov.uk/ukpga/2010/15/section/149" class="govuk-link">PSED</a>.</p>
    </div>
  </div>

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-13">
          Interoperability
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-13" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-13">
      <p class="govuk-body">Interoperability means the ability of computer systems or software to exchange and make use of information. Delivering education, health and care plans requires many organisations to work together.</p>
      <p class="govuk-body">Information may need to be shared within and between local authorities and other partners such as:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>education settings</li>
        <li>health services</li>
        <li>schools or colleges</li>
        <li>adult social care</li>
        <li>other agencies</li>
      </ul>
      <p class="govuk-body">In addition, interoperability is needed to ensure systems can be joined up and enable the smooth and secure flow of information.
        It also means local authorities can integrate their systems with applications from a range of suppliers to best meet their needs.</p>
      <p class="govuk-body">Applications, data and processes should work together to make the right information available to the right user at the right time.</p>
    </div>
  </div>

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-14">
          Benefits of interoperability
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-14" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-14">
      <p class="govuk-body">Interoperability supports:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the sharing of information between different systems to allow communication across local authorities and other organisations</li>
        <li>quick, appropriate and safe sharing of child and family data</li>
        <li>the integration of third-party applications</li>
      </ul>
    </div>
  </div>

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-15">
          Using open application programming interfaces (APIs)
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-15" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-15">
      <p class="govuk-body">Using open APIs is one way of sharing information. It allows 2 applications to communicate with each another to access data and means organisations can integrate systems.</p>
      <p class="govuk-body">Sharing data between different systems, with appropriate controls in place, makes it easier for the multi-agency partnerships to work together to keep children safe, and for services
        to operate in a joined-up way to provide care and support for children families. It also allows for add-on products and services to be purchased and integrated with third-party supplier products.</p>
        <p class="govuk-body">APIs often allow this to be done quicker and cheaper than other methods. However, you should clearly communicate your use cases to potential suppliers or your in-house development team.
          Seek their support to identify the best options for your needs.</p>
        <p class="govuk-body">Read the guidance on <a href="https://www.gov.uk/government/collections/open-standards-for-government-data-and-technology#recommended-open-standards" class="govuk-link">Open standards for government data and technology</a>.
          and <a href="https://www.gov.uk/government/publications/recommended-open-standards-for-government/describing-restful-apis-with-openapi-3" class="govuk-link">Describing RESTful APIs with OpenAPI 3</a>.</p>
    </div>
  </div>

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-16">
          Data requirements
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-16" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-16">
      <p class="govuk-body">Data should be used to inform decision-making at all levels, from frontline workers to strategic planners, and across the education,
        health and care partnership. You should make sure suppliers also show the efficiency of their system. For this purpose, they should demonstrate:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>that education, health and care expertise has been involved in the design, configuration, testing and sign-off of the product</li>
          <li>the functions available in the system</li>
          <li>that there is a plan to ensure the system remains up to date</li>
          <li>how they will manage large data migration and annual cohort changes</li>
          <li>how they will minimise data entry for users and risks of data entry errors</li>
          <li>how they will monitor the system to identify issues and gather feedback</li>
          <li>how they will risk assess and prioritise improvements to ensure the system continues to meet user needs throughout the contract</li>
          <li>how the system ensures data security and adheres to data protection regulations</li>
        </ul>
        <p class="govuk-body">Local authorities should involve children, young people and families directly in the design and configuration of any part of the system
          or its outputs that they will interact with (for example application forms or plan e).</p>
          <p class="govuk-body">You can support this by designing and configuring systems collaboratively with users.</p>
          <p class="govuk-body">Ahead of procurement speak with other local authorities, and ideally see evidence from live systems and examples of ways of working from suppliers. When procuring,
            use evaluation and selection processes which are designed and funded to properly involve children and young people.</p>
          <p class="govuk-body">You should consider how you'll measure the performance of the system and manage necessary updates through the life of the contract with the supplier.
            Guidance is available on <a href="https://www.gov.uk/government/publications/commercial-capability-contract-management-standards" class="govuk-link">Contract management standards</a>.</p>
    </div>
  </div>

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-17">
          Using data
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-17" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-17">
      <p class="govuk-body">Systems should collect data that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>meets statutory guidance, in terms of collecting, sharing and reporting</li>
        <li>monitors performance</li>
        <li>is accessible to users</li>
        <li>helps professionals to develop the plans for children and young people</li>
        <li>supports service planning and improvement</li>
      </ul>
      <p class="govuk-body">Local authorities need to understand and rationalise the data that they collect, be able to explain why they collect it and review what they collect on a regular basis.
        You should be aware of data requirements and limitations of your systems before identifying new systems, upgrades or developments.</p>
      <p class="govuk-body">When procuring or developing a system, you should:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>map out in detail any preparatory work that needs to be conducted to migrate data</li>
        <li>test migration and understand what will be available from day one</li>
        <li>test reports and reporting tools meet user needs and make sure any training is completed</li>
        <li>identify how training will be delivered and managed</li>
        <li>understand how you can access and migrate data from the system</li>
      </ul>
      <p class="govuk-body">Make sure that suppliers and developers demonstrate:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>how the system provides appropriate controlled access to the data and the ability to generate reports</li>
        <li>how it runs reports directly from the system</li>
        <li>how it connects to a data warehouse and can be used with other products, such as data mapping and visualisation tools</li>
        <li>that the reporting tool is not process intensive</li>
        <li>how changes in data requirements could be managed through the life of the contract</li>
        <li>how much autonomy you will have with the system</li>
        <li>how the systems supports accurate recording and auditing</li>
        <li>how the systems supports the timely delivery of data</li>
      </ul>
      <p class="govuk-body">Information should be made available for decision-making as close to real-time as possible.</p>
      <p class="govuk-body">You may find the following guidance helpful:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.gov.uk/guidance/make-better-use-of-data" class="govuk-link">Make better use of data</a>.</li>
        <li><a href="https://www.gov.uk/guidance/choose-tools-and-infrastructure-to-make-better-use-of-your-data" class="govuk-link">Choosing tools and infrastructure to make better use of your data</a>.</li>
      </ul>
    </div>
  </div>

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-18">
          Data protection
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-18" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-18">
      <p class="govuk-body">Digital systems should enable data to be recorded in a way that helps decision-making,
        planning and oversight at all levels of the system, without data collection getting in the way of frontline delivery.</p>
      <p class="govuk-body">The amount of data and how it is collected needs to be considered from both the perspective of
          those inputting the data and those who need to work with it.</p>
      <p class="govuk-body">You should make sure systems are designed and configured in a way that makes it easy for those doing the recording,
        cutting out duplication or wasted effort due to inefficient processes. They also need to allow for data for analysis - for example, related information
        is stored together and organised in a way that supports frontline staff, service managers and strategic planners.</p>
      <p class="govuk-body">You should know how:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the system meets the required standards and complies with <a href="https://www.legislation.gov.uk/uksi/2019/419/made" class="govuk-link">UK General Data Protection Regulation (GDPR) and Data Protection Act 2018</a>.</li>
        <li>data can be accessed and shared across organisations as needed </li>
        <li>to manage permissions and access to the system</li>
        <li>the system manages alerts when access is attempted without permission</li>
        <li>the supplier assesses and protects the system from cyber attacks</li>
      </ul>
      <p class="govuk-body">Local authorities should:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>identify security and privacy risks and threats to the service</li>
        <li>have a plan and budget to manage security and ensure that these have visibility and oversight at the highest level</li>
        <li>collect and process personal information in a way that’s secure</li>
        <li>work with business and information risk teams, for example, senior information risk owners, to make sure the service meets security requirements without putting delivery at risk</li>
        <li>make sure appropriate vulnerability and penetration testing is conducted</li>
      </ul>
      <p class="govuk-body">Local authorities must make sure systems meet data protection regulation standards. Guidance is available from the
        <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/" class="govuk-link">Information Commissioner's Office (ICO)</a>.</p>
    </div>
  </div>

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-19">
          Measuring the performance of the system
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-19" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-19">
      <p class="govuk-body">Suppliers and developers should work with you to set out the measures that will be used to assess outcomes
        and set key performance indicators (KPIs).</p>
      <p class="govuk-body">Performance data should be available to monitor and improve the system.
        This information should be assessed against the KPIs to inform continuous improvement of the system.</p>
      <p class="govuk-body">Ideally, systems should have mechanism that allows users to raise issues and give
        feedback loops in the system at the point they encounter an issue.</p>
      <p class="govuk-body">There is guidance available in the service manual:
        <a href="https://www.gov.uk/service-manual/service-standard/point-10-define-success-publish-performance-data" class="govuk-link">Point 10: Define what success looks like</a>.</p>
    </div>
  </div>

</div>

<p class="govuk-body">
  Please give us feedback on this guidance by <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-T97oglKFvVKgdQrXP2QCAZUN1Y5WlE4NFA4NlhMM0dYQVFLMzJCWUtYMi4u&wdLOR=c52AC8206-63EA-4114-A9F8-89A0F5554F04" class="govuk-link">completing this survey</a>.
</p>

</div>
</div>
<!-- </main> -->
</div>




{% endblock %}
