{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template – {{ serviceName }} –
GOV.UK Prototype Kit {% endblock %} {% block content %}

<div>
  <header class="govuk-grid-row manuals-header"></header>
</div>

<div class="govuk-width-container">
  <!-- <main class="govuk-main-wrapper"> -->

  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag"> Test </strong>
      <span style="font-size: 20px" class="govuk-phase-banner__text">
        This prototype is prototype is for research purposes 
      </span>
    </p>
  </div>

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="manual-proto-december">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="manual-proto-december"
          >Minimum functionalities </a
        >
      </li>
      <!-- <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="data-standards">Data standards</a>
      </li> -->
    </ol>
  </div>


  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<span class="govuk-caption-xl govuk-!-margin-top-6">Guidance</span>
<h1 class="govuk-heading-l">Minimum functionalities </h1>
</div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-body">You can buy:</p>
<ul class="govuk-list ">
  <li>From: <a href="#" class=govuk-link>Department for Education</a></li>
  <li >Published 14 August 2024</</li>
  <li>Last updated 14 August 2024 - <a href="#" class="govuk-link">see all updates</a></li>
</ul>
 
      </div>
    </div>
  </div>

  {% endblock %}
</div>
