{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template – {{ serviceName }} –
GOV.UK Prototype Kit {% endblock %} {% block content %}

<div>
  <header class="govuk-grid-row manuals-header"></header>
</div>

<div class="govuk-width-container">
  <!-- <main class="govuk-main-wrapper"> -->

  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag"> Test </strong>
      <span style="font-size: 20px" class="govuk-phase-banner__text">
        This prototype is prototype is for research purposes 
      </span>
    </p>
  </div>

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="manual-proto-december">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="manual-proto-december"
          >Minimum functionalities </a
        >
      </li>
      <!-- <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="data-standards">Data standards</a>
      </li> -->
    </ol>
  </div>


  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<span class="govuk-caption-xl govuk-!-margin-top-6">Guidance</span>
<h1 class="govuk-heading-l">Minimum functionalities </h1>


<p class="govuk-body">Minimum functionality refers to a set of requirements that a system needs so it can meet the needs of its users and stakeholders. </p>
</div>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<ul class="govuk-list ">
  <li class="govuk-!-font-size-16">From: <a href="#" class=govuk-link govuk-!-font-size-16>Department for Education</a></li>
  <li class="govuk-!-font-size-16">Published 14 August 2024</</li>
  <li class="govuk-!-font-size-16 ">Last updated 14 August 2024 - <a href="#" class="govuk-link govuk-!-font-size-16">see all updates</a></li>
</ul>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break">

<button type="submit" class="govuk-button govuk-button--inverse" style="border: 1px solid #b1b4b6;box-shadow: none;font-size: 16px;display: flex;align-items: center;padding:10px" data-module="govuk-button">
      <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334"><path fill="#0b0c0c" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path></svg>
      <span style="margin: 0px 0px 0px 5px;">Get emails about this page</span>
    </button>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
         <div class="call-to-action" id="grey-call-to-action">
<p class="govuk-!-font-weight-bold"" id="content-call-to-action">Applies to England 
</div>

   <h2 class="govuk-heading-m">
  Documents
</h2>


<div class="pdf-details">
<div class="pdf-iamge">

<a href="guidance-file.html"><img src="public/images/pdf.png" href="guidance-file.html" alt="document icon with pdf titile" width="170" height="200"></a>
</div>
<div class="pdf-text">
<h3 class="govuk-heading-l" id="pdf-title">
<a href="guidance-file.html" class="govuk-link govuk-!-font-size-24">Education Health Care Plan (EHCP) </br>minimum functionalities </a>
</h3>
<div class="govuk-hint">
      HTML
    </div>

</div>
</div>


<div class="govuk-!-padding-bottom-4"></div>
<h2 class="govuk-heading-m">

  Details
</h2>

<p class="govuk-body">Guidance for local authorities</p>
<P class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit <a href="#" class="govuk-link"> important link.</a> Donec rhoncus quam ut purus lobortis eleifend. Aliquam tincidunt congue hendrerit. Interdum et malesuada fames ac ante ipsum primis in faucibus.</P>
<div class="govuk-!-padding-bottom-4"></div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-0">Published 17 December 2010</p> 
<p class="govuk-body govuk-!-font-size-16">Last updated 23 Jult 2012<a href="#" class="govuk-link">+ show all updates</a></p> 

<button type="submit" class="govuk-button govuk-button--inverse " style="border: 1px solid #b1b4b6;box-shadow: none;font-size: 16px;display: flex;align-items: center;padding:10px" data-module="govuk-button">
      <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334"><path fill="#0b0c0c" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path></svg>
      <span style="margin: 0px 0px 0px 5px;">Get emails about this page</span>
    </button>

     <button type="submit" class="govuk-button govuk-button--inverse " style="border: 1px solid #b1b4b6;box-shadow: none;font-size: 16px;display: flex;align-items: center;padding:10px" data-module="govuk-button"><img class="printer-image" src="public/images/icon-print.png" alt="printer icon" >Print this page</button>
  
<div class="govuk-!-padding-bottom-9"></div>

 <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" id="blue-border-break">
        <h2 class="govuk-heading-s">Explore the topic</h2>
       <a href="#" class="govuk-link govuk-!-font-weight-bold">related links</a>
      </div>
    

 <div class="govuk-grid-column-one-third">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" id="blue-border-break">
        <h2 class="govuk-heading-s">Related content</h2>
       <a href="#" class="govuk-link govuk-!-font-weight-bold">related links</a>
       <br></br>
       <a href="#" class="govuk-link govuk-!-font-weight-bold">related links</a>
       <br></br>
       <a href="#" class="govuk-link govuk-!-font-weight-bold">related links</a>
      </div>
    </div>
  </main>
</div>

</div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-body">You can buy:</p>
<ul class="govuk-list ">
  <li>From: <a href="#" class=govuk-link>Department for Education</a></li>
  <li >Published 14 August 2024</</li>
  <li>Last updated 14 August 2024 - <a href="#" class="govuk-link">see all updates</a></li>
</ul>
 
      </div>
    </div>
  </div>


  {% endblock %}
</div>
