{% extends "layouts/main.html" %} {% set pageName="Home" %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <h1 style="padding-top: 30px" class="govuk-heading-xl">{{ serviceName }}</h1>

    <h1 class="govuk-heading-l">
      <a href="manual-proto-november.html" class="govuk-link"
        >Guidance prototype V1 - November 2023</a
      >
    </h1>

    <p class="govuk-body">For the first version of the prototype, we are looking to get:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>First impressions – what do they think of having a GOV.UK manual as a solution?</li>
      <li>
        Headings - do they understand what the page will allow them to do and what the content is
        likely to cover?
      </li>
      <li>Comprehension – do they understand what the page is telling them?</li>
      <li>Content – what do they expect to see on the page and is anything missing?</li>
    </ul>

    <h1 class="govuk-heading-l">
      <a href="manual-proto-december.html" class="govuk-link"
        >Guidance prototype V2 - January 2024</a
      >
    </h1>

    <p class="govuk-body">For the second version of the prototype, we are looking to test:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>assessing compliance</li>
      <li>transfer tool</li>
      <li>join the community</li>
      <li>keep up to date</li>
    </ul>

    <h1 class="govuk-heading-l">
      <a href="collection-proto.html" class="govuk-link">Collection prototype - Aug 2024</a>
    </h1>
    <p class="govuk-body">Pages within the prototype</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="collection-proto-publication-page.html" class=govuk-link">Collection document page</a></li>
    </ul>

    <h1 class="govuk-heading-l">
      <a href="manual-proto-v3.html" class="govuk-link">Manual prototype v3 - Aug 2024</a>
    </h1>
    <p class="govuk-body">Pages within the prototype</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="guidance.html" class="govuk-link">Guidance page</a></li>
    </ul>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="guidance-file.html" class="govuk-link">Guidance document (html file) Aug 2024</a></li>
    </ul>
        
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="guidance-file-v4.html" class="govuk-link">Guidance document v4 (html file) Sep 2024</a></li>
    </ul>

    <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->
  </div>

  <div class="govuk-grid-column-one-third">
    <div style="border-bottom: 2px solid #1d70b8; padding-bottom: 5px" class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item"></li>
      </ol>
    </div>
    <h3 class="govuk-heading-s">Supporting information</h3>
    <p class="govuk-body">
      <a
        href="https://lucid.app/lucidspark/630a57f2-9cc8-4699-a55b-5160cc82c680/edit?view_items=iX1IVCZhawWz&invitationId=inv_b2edaebd-a6fc-4124-9013-d0f937fe6e69"
        class="govuk-link"
        >SEN2 project ecosystem</a
      >
    </p>
    <p class="govuk-body">
      <a
        href="https://lucid.app/lucidspark/630a57f2-9cc8-4699-a55b-5160cc82c680/edit?view_items=-hd2_Ejo46HF&invitationId=inv_b2edaebd-a6fc-4124-9013-d0f937fe6e69"
        class="govuk-link"
        >Research synthesis, user needs and ideation</a
      >
    </p>
    <p class="govuk-body">
      <a
        href="https://lucid.app/lucidspark/630a57f2-9cc8-4699-a55b-5160cc82c680/edit?view_items=Unb862n35egN&invitationId=inv_b2edaebd-a6fc-4124-9013-d0f937fe6e69"
        class="govuk-link"
        >Team idea plotting
      </a>
    </p>
    <p class="govuk-body">
      <a
        href="https://educationgovuk.sharepoint.com/:f:/r/sites/Vulnerablechildrenandfamiliesportfolio/Shared%20Documents/EHCP?csf=1&web=1&e=fEVtkA"
        class="govuk-link"
        >Sharepoint</a
      >
    </p>
    <p class="govuk-body">
      <a
        href="https://www.figma.com/file/VjLkvg628c4R9mXORX0wtW/EHCP-Alpha-proto?type=design&node-id=0%3A1&mode=design&t=J9YGJWiJOjIlYO3v-1"
        class="govuk-link"
        >Figma workspace</a
      >
    </p>
    <p class="govuk-body">
      <a href="https://github.com/DFE-Digital/ehcp-guidance-prototype" class="govuk-link"
        >GitHub repository</a
      >
    </p>
    <p class="govuk-body">
      <a
        href="https://design-histories.education.gov.uk/education-health-and-care-plan-ehcp-digital-alpha"
        class="govuk-link"
        >Design Histories</a
      >
    </p>
    <p class="govuk-body">
      <a
        href="https://design-staging.herokuapp.com/inside-design/projects/education-health-care-plan"
        class="govuk-link"
        >Inside Design</a
      >
    </p>
  </div>
</div>

{% endblock %}
