{% extends "layouts/main.html" %} {% set pageName="Home" %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <h1 style="padding-top:30px;" class="govuk-heading-xl">{{ serviceName }}</h1>

    <h1 class="govuk-heading-l">  <a href="manual-proto-november.html" class="govuk-link"
        >Guidance prototype V1 - November 2023</a></h1>

    <p class="govuk-body">For the first version of the prototype, we are looking to get:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>First impressions – what do they think of having a GOV.UK manual as a solution?</li>
      <li>Headings - do they understand what the page will allow them to do and what the content is likely to cover?</li>
      <li>Comprehension – do they understand what the page is telling them?</li>
      <li>Content – what do they expect to see on the page and is anything missing?</li>
    </ul>

    <h1 class="govuk-heading-l">  <a href="manual-proto-december.html" class="govuk-link"
        >Guidance prototype V2 - December 2023</a></h1>

    <p class="govuk-body">For the second version of the prototype, we are looking to get:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>list item</li>
      <li>list item</li>
      <li>list item</li>
    </ul>



    <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->
  </div>


  <div class="govuk-grid-column-one-third">
    <div style="border-bottom: 2px solid #1d70b8; padding-bottom: 5px;" class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">

        </li>
      </ol>
    </div>
          <h3 class="govuk-heading-s">Supporting information</h3>
          <p class="govuk-body"> <a href="#" class="govuk-link">Thing</a></p>
          <p class="govuk-body"> <a href="#" class="govuk-link">Thing</a></p>
          <p class="govuk-body"> <a href="#" class="govuk-link">Thing</a></p>
          <p class="govuk-body"> <a href="#" class="govuk-link">Thing</a></p>
        </div>

</div>

{% endblock %}
