{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template – {{ serviceName }} –
GOV.UK Prototype Kit {% endblock %} {% block content %}

<div>
  <header class="govuk-grid-row manuals-header"></header>
</div>

<div class="govuk-phase-banner">
  <p id="test-banner" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">Test</strong>
    <span class="govuk-phase-banner__text">
      This prototype is for user research with local authorities to test ideas and prompt
      discussions.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manual-proto-v3">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manual-proto-v3"
        >Digitising education, health and care plans</a
      >
    </li>
  </ol>
</div>

<div class="govuk-panel header-panel govuk-!-margin-bottom-6">
<h1 class="govuk-heading-xl header-panel govuk-!-margin-bottom-1">Data standard and digital requirements for education, health and care (EHC) plans </h1>
<div  class="govuk-section-break govuk-section-break--l "></div>
<p class="govuk-body-s header-panel govuk-!-margin-bottom-0">From - <a href="#" class="govuk-link--inverse govuk-!-font-weight-bold">Department for Education</a></p>
<p class="govuk-body-s header-panel govuk-!-margin-bottom-0">Published 15 August 2024</p>
<p class="govuk-body-s header-panel govuk-!-margin-bottom-0">Updated: 24 August 2024 -  <a href="#" class="govuk-link--inverse govuk-!-font-weight-bold">See all updates</a></p>
<div  class="govuk-section-break govuk-section-break--l "></div>
<input class="govuk-input govuk-!-width-three-quarters" id="event-search" name="eventSearch" type="text">
<button type="submit" class="govuk-button  data-module="govuk-button" id="search-button" >
<svg class="gem-c-search__icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
  <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
  <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
</svg>
</button>
</div>

  <h2 class="govuk-heading-l">Digitalising education, health and care (EHC) processes </h2>
 
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
 
<p class="govuk-body">Local authorities can use this guidance to help plan and manage digitalising education, health and care (EHC) processes and plans. </p>
<p class="govuk-body">This covers all the stages of the 20-week process including: </p>

<ul class="govuk-list govuk-list--bullet">
  <li>the request for an EHC needs assessment</li>
  <li>the EHC needs assessment</li>
  <li>the draft EHCP</li>
  <li>implementing the EHCP</li>
  <li>an annual review </li>
</ul>

<p class="govuk-body">These stages will be supported by standardised templates that all LAs will use and have been tested and coproduced by the Change Programme across four professional areas (education, health, social care and educational psychologists)​. </p>
<p class="govuk-body">Use this guidance to support you at any stage of your EHCP digitisation process. You will have your own set of requirements and current processes for EHCPs. This guidance can help you plan for and develop digitised EHC processes that fit with your ways of working. It will help you: </p>

<ul class="govuk-list govuk-list--bullet">
  <li>develop a roadmap</li>
  <li>assess your requirements</li>
  <li>get the right people in your team</li>
  <li>learn from others</li>
  <li>assess options (procure a supplier, work with existing supplier or build your own)</li>
  <li>understand accessibility and why this is important</li>
</ul>

<p class="govuk-body">Standardising digital EHC processes across all local authorities in England can: </p>

<ul class="govuk-list govuk-list--bullet">
  <li>complement your current EHC processes, professional practices and service delivery</li>
  <li>make it easier for you to roll out a digital EHC system</li>
  <li>raise the standard of digital EHC systems that are available for you to procure</li>
  <li>make it easier for you to share EHC records with each other</li>
</ul>

<p class="govuk-body">This is not a technical specification for software development. Technical information can be found in the: </p>

<ul class="govuk-list">
  <li><a class="govuk-link" href="#">minimum requirements </a></li>
  <li><a class="govuk-link" href="#">data standard and data schema</a></li>
  <li><a class="govuk-link" href="#">technical specification </a></li>
</ul>


<h2 class="govuk-heading-l">Project background/why we are doing this</h2>
<p class="govuk-body">The plan to develop standardised education, health and care plan (EHCP) processes and to digitise EHCPs is part of wider improvement plans. These plans feature in the <a class=govuk-link" href="https://www.gov.uk/government/publications/send-and-alternative-provision-improvement-plan">Special Educational Needs and Disabilities (SEND) and Alternative Provision (AP) Improvement Plan</a>, published in March 2023.</p>
<p class="govuk-body">This guidance was created and written together with relevant representatives from local authorities and based on extensive user research with the sector. We did deep dive research, held interviews and workshops with stakeholders, other government departments, health and education professionals.</p>

<h2 class="govuk-heading-l">What we want to achieve (our goals? our aims)</h2>
<p class="govuk-body">Our main aim is to improve support for children and young people with special educational needs and disabilities (SEND). It will introduce consistency through new standards in the quality of support given to children and young people across education, health and care.</p>

<h3 class="govuk-heading-m">Support children in meeting their full potential</h3>
<p class="govuk-body">Children and young people with SEND (or attending alternative provision) enjoy their childhood, achieve good outcomes and are well prepared for adulthood and employment.</p>

<h3 class="govuk-heading-m">Build parents’ and carers’ trust</h3>
<p class="govuk-body">Parents and carers experience a fairer, easily navigable system (across education, health and care) that restores their confidence that their children will get the right support, in the right place, at the right time.</p>

<h3 class="govuk-heading-m">Provide financial sustainability</h3>
<p class="govuk-body">Local leaders make the best use of record investment in the high needs budget to meet children and young people’s needs and improve outcomes, while placing local authorities on a stable financial footing.</p>

<p class="govuk-body">Digitalising EHC processes will:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>reduce the burden of administrative process in the system</li>
  <li>improve the experience and satisfaction of parents, carers and professionals</li>
  <li>improve our ability to monitor the health of the SEND system</li>
</ul>

<h2 class="govuk-heading-l">Benefits for you</h2>
<p class="govuk-body">Digitising and standardising your EHCP processes can have a positive impact for you and your end users (parents, carers, education and healthcare professionals). </p>

<h3 class="govuk-heading-m">Efficient processes</h3>
<p class="govuk-body">For local authority SEND leads and case workers it will:</p>
<ul class="govuk-list govuk-list--bullet">
<li>be more efficient and less time consuming, reducing the burden of administrative process in the system</li>
<li>let you easily share standardised SEND data and information between other local authorities in England</li>
<li>be easier to record parental consent for information sharing</li>
<li>give less room for error (you might currently be recording information in a mix of formats including spreadsheets, emails, paper and online filing, which is time consuming and error prone)</li>
<li>manage all aspects of assessments, reviews and appeals in one place</li>
<li>enable case workers to track, manage and access automatically generated timelines associated with individual EHCP applications and EHC records</li>
<li>	align EHCP processes with other systems being used within the LA as current or older systems and databases struggle to cope</li>
</ul>

<h3 class="govuk-heading-m">Manage workflow</h3>
<p class="govuk-body"> It will:</p>
<ul class="govuk-list govuk-list--bullet">
<li>help you manage the increase in EHCP applications </li>
<li>it will be easier to monitor individual requests and follow up with those that have not provided their reports or advice on time</li>
<li>it will help SEND leads and caseworkers manage their own work (For example, which cases need a review, which cases are more complex and may require additional quality assurance)</li>
<li>it will provide you with the opportunity to rethink workflows and organise your staff more effectively</li>
<li>it could reduce the number of requests that fall out of the 20-week period by improving the ability to share quality information between parties, whilst improving communication with parents/carers and any health professionals that input into the plan</li>
<li>	transparency and personalisation, enabling users to self-serve (For example, parents will be able to download or access a copy of their EHCP themselves, rather than request one from a case worker) </li>
<li>it could help you meet some of the improvements Ofsted have suggested</li>
</ul>

<h3 class="govuk-heading-m">Better communication</h3>
<p class="govuk-body"> It will:</p>
<ul class="govuk-list govuk-list--bullet">
<li>improve transparency and could reduce the number of queries you get on active requests</li>
<li>reduce your dependency on postal services, as families can opt to get notifications on the progress of a request, and education and healthcare professionals can upload reports and information directly</li>
<li>free up time to give more tailored support to families, carers, children and young people</li>
<li>improve relationships with those involved across the process and free up time to produce collaborative and better-quality support plans for children</li>
<li>improve the quality of contributions as end users can upload their contributions online</li>
</ul>

<h2 class="govuk-heading-l">Benefits for your users</h2>
<p class="govuk-body">Digitalising your EHCP processes will also have a positive impact on people using the system. </p>

<h3 class="govuk-heading-m">Parent and carers</h3>
<p class="govuk-body">For parents and carers:</p>
<ul class="govuk-list govuk-list--bullet">
<li>it can improve their experiences of the EHCP process and give them the ability to ‘self-serve’</li>
<li>they can upload photos, drawings and videos to their EHC record that better represent their child or young person</li>
<li>it will keep all the data in one place, making it easier to submit information, track requests and view timelines</li>
<li>there is increased transparency and a better understanding of processes, as they can access a timeline of upcoming events, recent and past activity</li>
<li>they get access to documentation immediately, removing the risk of postal delays</li>
<li>they can choose to receive notifications and updates on requests</li>
<li>being able to follow the progress of requesting an EHCP is reassuring and helpful</li>
<li>they can see who has contributed to the request and can chase those education or healthcare professionals that need to provide more information</li>
<li>the system is secure, and they can be confident that their child or young person’s data is safe</li>
<li>the child or young person’s data can be transferred safely to another local authority</li>
<li>can give consent to the sharing of personal data and information</li>
<li>a digital EHCP process would free up time for SEND leads and caseworks to build relationships with families and carers as well as write quality EHCP plans</li>
<li>they can access support before, during and after reviews</li>
</ul>

<h3 class="govuk-heading-m">Children and young people</h3>
<p class="govuk-body">For healthcare professionals working within a local authority and externally, it will:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>improve flexibility for children and young people to access and contribute to their own plans and meetings</li>
</ul>

<h3 class="govuk-heading-m">Health care</h3>
<p class="govuk-body">For children and young people it will:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>provide better security and access controls so you can be confident that child and young people’s data is held safely</li>
  <li>be easier to access timelines for individual applications and track that health colleagues provide advice on time</li>
  <li>be easier to find and track your own work (For example, which plans need reviewing, or which cases are more complex and need to be quality assured)</li>
  <li>be easier for DMOs and DCOs to quality assure EHC records and EHCPs</li>
  <li>provide better communication for families and make it easier for them to submit and track requests</li>
  <li>improve the quality of contributions from education and healthcare professionals</li>
  <li>mean less room for error with a digitised system</li>
</ul>

<h3 class="govuk-heading-m">School SENCOs and education providers</h3>
<p class="govuk-body">For school SENCOs and education providers:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>communication is better and it is easier to see who has done what</li>
<li>	it provides a central point to access all contributions and information that can support the child or young person</li>
<li>it provides visibility of timelines and their own contributions, enabling them to manage and make contributions and do reviews on time</li>
<li>it improves the quality of reporting to school leadership teams on progress</li>
<li>it improves efficiency, making it easier to move, or update documents and address your own workload</li>
<li>it provides better security as there is less paperwork and documents can be uploaded directly to the system rather than emailed</li>
<li>it improves transparency for all users, parents feel reassured when they can access their records</li>
</ul>

<h2 class="govuk-heading-l">Long term benefits for all users</h2>
<p class="govuk-body">Digitising EHCP processes provides better visibility for all professionals, parents and carers involved.</p>
<p class="govuk-body">This will support better information sharing which enables a ‘team around the family’ approach. Professionals and families will be able to work together in a more co-ordinated way with better visibility of what each profession is doing for the child or young person. </p>

<h2 class="govuk-heading-l">Join the community group</h2>
<p class="govuk-body">You can join the community group for local areas at any stage of your EHCP digitalisation.</p>
<p class="govuk-body">In the group sessions you will have the opportunity to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>get support from other local areas in their digitisation journey</li>
  <li>share knowledge and discuss how to make EHCP processes easier for everyone</li>
  <li>co-produce guidance materials</li>
</ul>

 <hr class="govuk-section-break govuk-section-break--m">
<button type="submit" class="govuk-button govuk-button--inverse " style="border: 1px solid #b1b4b6;box-shadow: none;font-size: 16px;display: flex;align-items: center;padding:10px" data-module="govuk-button"><img class="printer-image" src="public/images/icon-print.png" alt="printer icon" >Print this page</button>

</div>
</div>

  {% endblock %}
</div>
