{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template – {{ serviceName }} –
GOV.UK Prototype Kit {% endblock %} {% block content %}

<div>
  <header class="govuk-grid-row manuals-header"></header>
</div>

<div class="govuk-phase-banner">
  <p id="test-banner" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">Test</strong>
    <span class="govuk-phase-banner__text">
      This prototype is for user research with local authorities to test ideas and prompt
      discussions.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manual-proto-december">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manual-proto-december"
        >Digitising education, health and care plans</a
      >
    </li>
  </ol>
</div>

<div class="govuk-panel header-panel govuk-!-margin-bottom-6">
<h1 class="govuk-heading-xl header-panel govuk-!-margin-bottom-1">Data standard and digital requirements for education, health and care (EHC) plans </h1>
<div  class="govuk-section-break govuk-section-break--l "></div>
<p class="govuk-body-s header-panel govuk-!-margin-bottom-0">From - <a href="#" class="govuk-link--inverse govuk-!-font-weight-bold">Department for Education</a></p>
<p class="govuk-body-s header-panel govuk-!-margin-bottom-0">Published 15 August 2024</p>
<p class="govuk-body-s header-panel govuk-!-margin-bottom-0">Updated: 24 August 2024 -  <a href="#" class="govuk-link--inverse govuk-!-font-weight-bold">See all updates</a></p>
<div  class="govuk-section-break govuk-section-break--l "></div>
<input class="govuk-input govuk-!-width-three-quarters" id="event-search" name="eventSearch" type="text">
<button type="submit" class="govuk-button  data-module="govuk-button" id="search-button" >
<svg class="gem-c-search__icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
  <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
  <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
</svg>
</button>
</div>

  
  <h2 class="govuk-heading-m govuk-!-margin-bottom-4">
  Summary
</h2>

<p class="govuk-body-l"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue laoreet porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue laoreet porta.  </p>
  
     <p class="govuk-body-m">This manual is for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>local authority, health, and education SEND leads</li>
          <li>local authority IT and digital leads</li>
          <li>data controllers and responsible officers</li>
          <li>suppliers of software for EHCP or information management</li>
        </ul>

        <p class="govuk-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue laoreet porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue laoreet porta.  </p>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-4">
  Contents
</h2>

<div  class="govuk-section-break govuk-section-break--m govuk-section-break--visible "></div>

 <h3 class="govuk-heading-s">
  <a class="govuk-link" href="introduction.html">Introduction</a>
  <p class="gov-uk">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue laoreet porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</h3>
<div  class="govuk-section-break govuk-section-break--m govuk-section-break--visible "></div>

 <h3 class="govuk-heading-s">
  <a class="govuk-link" href="form-a-team.html">Form a team</a>
  <p class="gov-uk">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue laoreet porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</h3>
<div  class="govuk-section-break govuk-section-break--m govuk-section-break--visible "></div>
 <h3 class="govuk-heading-s">
  <a class="govuk-link" href="create-a-roadmap.html">Create a roadmap</a>
  <p class="gov-uk">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue laoreet porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</h3>
<div  class="govuk-section-break govuk-section-break--m govuk-section-break--visible "></div>
 <h3 class="govuk-heading-s">
  <a class="govuk-link" href="understand-your-requirements.html">Understand your requirements</a>
  <p class="gov-uk">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue laoreet porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</h3>
<div  class="govuk-section-break govuk-section-break--m govuk-section-break--visible "></div>
 <h3 class="govuk-heading-s">
  <a class="govuk-link" href="research-your-options.html">Research your options</a>
  <p class="gov-uk">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue laoreet porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</h3>
<div  class="govuk-section-break govuk-section-break--l"></div>

<button type="submit" class="govuk-button govuk-button--inverse " style="border: 1px solid #b1b4b6;box-shadow: none;font-size: 16px;display: flex;align-items: center;padding:10px" data-module="govuk-button"><img class="printer-image" src="public/images/icon-print.png" alt="printer icon" >Print this page</button>

  {% endblock %}
</div>
