{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template – {{ serviceName }} –
GOV.UK Prototype Kit {% endblock %} {% block content %}

<div>
  <header class="govuk-grid-row manuals-header"></header>
</div>

<div class="govuk-phase-banner">
  <p id="test-banner" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">Test</strong>
    <span class="govuk-phase-banner__text">
      This prototype is for user research with local authorities to test ideas and prompt
      discussions.
    </span>
  </p>
</div>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manual-proto-v3">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manual-proto-v3"
        >Digitising education, health and care plans</a
      >
    </li>
  </ol>
</div>

<div class="govuk-panel header-panel govuk-!-margin-bottom-6">
<h1 class="govuk-heading-xl header-panel govuk-!-margin-bottom-1">Data standard and digital requirements for education, health and care (EHC) plans </h1>
<div  class="govuk-section-break govuk-section-break--l "></div>
<p class="govuk-body-s header-panel govuk-!-margin-bottom-0">From - <a href="#" class="govuk-link--inverse govuk-!-font-weight-bold">Department for Education</a></p>
<p class="govuk-body-s header-panel govuk-!-margin-bottom-0">Published 15 August 2024</p>
<p class="govuk-body-s header-panel govuk-!-margin-bottom-0">Updated: 24 August 2024 -  <a href="#" class="govuk-link--inverse govuk-!-font-weight-bold">See all updates</a></p>
<div  class="govuk-section-break govuk-section-break--l "></div>
<input class="govuk-input govuk-!-width-three-quarters" id="event-search" name="eventSearch" type="text">
<button type="submit" class="govuk-button  data-module="govuk-button" id="search-button" >
<svg class="gem-c-search__icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
  <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
  <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
</svg>
</button>
</div>

  <h2 class="govuk-heading-l">Research your options</h2>
 
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

<p class="govuk-body">Spend time researching your software and system options. Consider all options available to you, including:</p>
<ul class="govuk-list govuk-list--bullet">
 <li>	preferred software suppliers</li>
 <li>	building your own system</li>
 <li>	a bolt on to your existing system(s)</li>
<li>updating your system to meet minimum functionality</li>
</ul>
        
<p class="govuk-body">Use our guidance on understanding your local authority’s requirements to help you identify what digital EHCP system option will fit with your:</p>
<ul class="govuk-list govuk-list--bullet">
<li>	ways of working</li>
<li>	plans for future growth and development</li>
</ul>

  <h3 class="govuk-heading-m">External suppliers</h3>
  <h3 class="govuk-heading-m">Bolt on to an existing system</h3>
  <h3 class="govuk-heading-m">Custom build your own digital system</h3>
  <h3 class="govuk-heading-m">Update your system to meet minimum functionality</h3>

  <h3 class="govuk-heading-m">Digital system considerations</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>		which option gives you a suitable foundation that you can continue to develop and improve</li>
<li>		if people can use the system in a way that meets their needs, especially if extra support is needed (For example, is it based on user-centred design and consider universal barriers)</li>
<li>		how you will recruit and retain the staff to support a system</li>
<li>		how you will migrate existing data to the new system and what digital solutions best support data migration</li>
<li>		suppliers’ interest and commitment to providing continued system developments</li>
<li>		minimum functionality and which option will help you manage and meet these requirements </li>
<li>		how required changes are managed (For example, system updates, fixes, new features) </li>
<li>		where data will be stored and how you can manage access</li>
<li>		any impact on information sharing agreements and DPIA and GDPR rules</li>
<li>		what options exist for integration with existing systems</li>
<li>		how you can minimise the burden of data entry and any duplication of effort</li>
</ul>

<h3 class="govuk-heading-m">Behavioural and cultural considerations</h3>
<p class="govuk-body">Consider behavioural or cultural factors which might influence your decision. Which option will support or potentially detract from implementing a digital EHCP system that will meet your user and service needs.</p>
<p class="govuk-body">You should consider:</p>
<ul class="govuk-list govuk-list--bullet">
<li>		any cultural barriers to information sharing</li>
<li>		workforce levels of confidence in using a new system and processes</li>
<li>		poor data capture practices</li>
<li>		lack of existing data structures</li>
</ul>

<h3 class="govuk-heading-m">Talk to others</h3>
<p class="govuk-body">Consider and communicate what problems you are looking to solve and give potential or existing suppliers, developers or IT teams the opportunity to talk through their offer and any solutions. </p>
<p class="govuk-body">Join our local authority community group and speak to other local authorities to get a comprehensive view of what is on offer and how it works in practice.</p>
<p class="govuk-body">Read the guidance on <a class=govuk-link" href="https://www.gov.uk/guidance/talking-to-suppliers-before-you-buy-digital-marketplace-services">Talking to suppliers before you buy</a> and <a class=govuk-link" href="https://www.crowncommercial.gov.uk/news/conducting-pre-tender-market-engagement-virtually">conduct pre-tender market engagement</a>.</p>

<h3 class="govuk-heading-m">Ask for a system demonstration</h3>
<p class="govuk-body">You should make sure suppliers or developers give you a demonstration of their system. You will need to make sure your key stakeholders are there to ask questions or raise any issues.</p>
<p class="govuk-body">Providers should demonstrate how their offering:</p>
<ul class="govuk-list govuk-list--bullet">
<li>	works across different devices and browsers</li>
<li>	supports offline working</li>
<li>	meets <a class="govuk-link" href="https://www.w3.org/TR/WCAG22/">WCAG 2.2AA accessibility standards</a></li>
<li>	meets <a class=govuk-link" href="https://www.legislation.gov.uk/uksi/2018/952/contents/made">The Public Sector Bodies Accessibility Regulations 2018</a></li>
<li>	works with assistive technologies, such as screen readers, magnifiers or voice to text</li>
</ul>



<hr class="govuk-section-break govuk-section-break--m">
<button type="submit" class="govuk-button govuk-button--inverse " style="border: 1px solid #b1b4b6;box-shadow: none;font-size: 16px;display: flex;align-items: center;padding:10px" data-module="govuk-button"><img class="printer-image" src="public/images/icon-print.png" alt="printer icon" >Print this page</button>

</div>
</div>

  {% endblock %}
</div>
