{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template – {{ serviceName }} –
GOV.UK Prototype Kit {% endblock %} {% block content %}

<style>
  .govuk-main-wrapper {
    padding-top: 0px;
  }

  .govuk-tag.govuk-phase-banner__content__tag {
    padding-bottom: 8px;
    padding-top: 9px;
    padding-left: 11px;
    padding-right: 11px;
    font-size: 20px;
  }
</style>

<div>
  <header class="govuk-grid-row manuals-header"></header>
</div>

<div class="govuk-width-container">
  <!-- <main class="govuk-main-wrapper"> -->

  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Draft
      </strong>
      <span style="font-size: 20px;" class="govuk-phase-banner__text">
       This prototype is for user research with local authorities to test ideas and prompt discussions.
      </span>
    </p>
  </div>

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="manual-proto-december">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="manual-proto-december"
          >Digitising education, health and care plans</a
        >
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="transfer-tool-sign-in">Transfer tool</a>
      </li>
    </ol>
  </div>

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Sign in</h1>
    <p class="govuk-body-l">Sign in or <a href="#" class="govuk-link">create an account</a> to use the EHCP transfer tool.</p>



  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="event-name">
        Email address
      </label>
    </h1>
    <input style="border: 2px solid black; padding:5px;" class="govuk-input" id="event-name" name="eventName" type="text">
  </div>

  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="event-name">
        Password
      </label>
    </h1>
    <input style="border: 2px solid black; padding:5px;" class="govuk-input" id="event-name" name="eventName" type="text">
  </div>

  <button type="submit" class="govuk-button" data-module="govuk-button">
  Sign in
</button>

<p class="govuk-body-m"><a href="#" class="govuk-link">Forgotten your password?</a></p>







</div>
</div>




      <!-- <p class="govuk-body">
        Please give us feedback on this guidance by <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-T97oglKFvVKgdQrXP2QCAZUN1Y5WlE4NFA4NlhMM0dYQVFLMzJCWUtYMi4u&wdLOR=c52AC8206-63EA-4114-A9F8-89A0F5554F04" class="govuk-link">completing this survey</a>.
      </p> -->


    </div>
    <!-- </main> -->
  </div>

  {% endblock %}
</div>
